<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.TodoMapper">

	<!-- マッピングの定義 -->
	<resultMap type="com.example.domain.model.Todo" id="todo">
		<id column="id" property="id" />
		<result column="titel" property="titel"/>
		<result column="timelimit" property="timelimit"/>
		<result column="is_done" property="Done"/>
	</resultMap>

    <!-- 登録 -->
	<select id="getFalseTodos"
		resultType="com.example.domain.model.Todo">
		select
		*
		from
		todo_details
		where
		is_done = FALSE
	</select>
	<select id="getTrueTodos"
		resultType="com.example.domain.model.Todo">
		select
		*
		from
		todo_details
		where
		is_done = TRUE
	</select>
	
    <!-- 追加 -->
	<insert id="getAdditionTodos">
		insert into todo_details(
		titel
		time_limit
		)
		values(
		,#{titel}
		,#{timelimit})
	</insert>
	
	<!-- 詳細 -->
	<select id="getTodoDateil" resultMap="todo">
	    select
	    *
	    from
	    todo_details
	    where
	    id = #{id}
	</select>

</mapper>
