<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/detail.css}">
	<!-- JS読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title th:text="#{todo.detail.title}"></title>
</head>

<body class="bg-light">
	<form id="todo-detail-form" method="post" th:action="@{/}" class="form-detail"
		th:object="${todoDetailForm}">
		<input type="hidden" th:field="*{id}" />
		<h1 class="text-center">TodoDetail</h1>
		<!-- title -->
		<dev class="text-center">
			<div class="form-group">
				<label for="titel">タイトル</label>
				<input type="text" class="form-control" th:field="*{title}" th:errorclass="is-invalid"/>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
					<p th:text="${message}"　style= "color: red;"></p>
			</div>
			<!-- timeLimit -->
			<div class="form-group">
				<label for="timeLimit">期限</label>
				<input type="date" class="form-control" th:field="*{timeLimit}" th:errorclass="is-invalid"/>
				<div class="invalid-feedback" th:if="${#fields.hasErrors('timeLimit')}" th:errors="*{timeLimit}"></div>
					<p th:text="${message}"　style= "color: red;"></p>
			</div>
			<!-- 完了 -->
			<div>
				<input type="checkbox" name="done" value="Done" /> 完了フラグ
			</div>
		</dev>
		<!-- 更新ボタン -->
		<dev class="text-center">
			<button class="btn btn-primary" type="submit" name="update">
				更新
			</button>
		</dev>

	</form>
</body>