<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/Layout.css}">
	<title>TodoList</title>
</head>

<body class="bg-light">
	<!-- <form method="post" th:action="@{/}" class="form-login"> -->
	<div class="text-center">
		<h1 class="tect-center">TodoList</h1>
		<a th:href="@{/add}" class="h2">TODOの追加</a>
		<h2>未完了リスト</h2>
		<div>
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th class="thwidth">ID</th>
						<th class="thwidth">タイトル</th>
						<th class="thwidth">期日</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${Falsetodos}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.title}"></td>
						<td th:text="${#dates.format(item.timeLimit, 'yyyy-MM-dd')}"></td>
						<td>
							<a>詳細</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="text-center">

		<h2>完了リスト</h2>
		<div>
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th class="thwidth">ID</th>
						<th class="thwidth">タイトル</th>
						<th class="thwidth">期日</th>
						<th></th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="item : ${Truetodos}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.title}" style="text-decoration: line-through;"></td>
						<td th:text="${#dates.format(item.timeLimit, 'yyyy-MM-dd')}"></td>
						<td>
							<a>詳細</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div class="text-center">
		<!-- 削除ボタン -->
		<button class="btn btn-danger" type="submit" name="delete">
			完了済みを削除</button>
	</div>
	<!--</form>-->
</body>